<section id="create-post">
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-text">Blog Text</label>
      <textarea name="post-text"></textarea>
    </div>
    <button type="add" class="btn">Add</button>
  </form>
</section>

{{#if posts.length}}
<section id="display-posts">
  <h2>Your Posts</h2>
  <button type="toggle" class="btn">Create New</button>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>